.fa{
    color: black;
}
.icon-pic{
    font-size: 30px;
    color: white;
}
.icon-label{
    color: white;
}
.picture {
    height: 500px;
    width: 320px;
}
@media (max-width:767px){
    .picture{
        width: 395px;
    }
}
.card-body{
    text-align: justify;
}
.card{
    width:380px;
    height:400px;

}
.youtube-bg{
    max-height: 450px;
}
.card-header{
    color:#59a310;
}
.card-body{
    text-align: justify;
}
.view{
    color:coral;
    background-color: cyan;
}
.comment{
    color:coral;
}
.buy-button {
    align-content: center;
    margin: auto;
    display: flex;
    background-color: rgb(235, 31, 31);
    border-color: rgb(235, 31, 31);
    color: white;
}
.recent-topic {
    padding-top: 20px;
    font-size: 4mm;
    color: #59a310;
}
.recent-title {
    font-style: italic;
    font-size: 6mm;
    font-weight: 500;
}
.button-view {
    margin-left: 300px;
    color: #59a310;
    border-color: #59a310;
    background-color: white;
}
.story-topic {
    position: absolute;
    top: -350px;
    color: white;
    font-size: 20px;
}
.youtube {
    top: -350px;
    height: 500%;
    width: 100%;
    max-width:360px;
    position: absolute;
}
@media (max-width:767px){
    .youtube {
        top: -50px;
    }
    .youtube-bg{
        max-width: 360px;
    }
}
.home-image{
    max-height: 250px;
    width: 100%;
    height:auto;
    filter:blur(4px);
}
.welcome-content{
    margin-left: 20%;
    margin-top: -15%;
}
.medicine{
    margin-top: -15%;
    margin-left: 50%;
    opacity: 0.6;
}
@media (max-width:767px){
    .welcome-content{
        margin-left: 20%;
        margin-top: -50%;
    }
    .medicine{
        margin-top: -40%;
        margin-left: 50%;
        opacity: 0.6;
    }
}
.contact-us {
    background-color: rgba(255,255,255,0);   
    color:#59a310;
    border-color: #59a310;
}
.card-text{
    color:#59a310;
    text-align: center;
}
.view-more{
    color:#59a310;
    border-color:#59a310;
    background-color: white;
}
.view-more-about{
    color:#59a310;
    border-color:#59a310;
    background-color: rgba(255,255,255,0); 
}
.topic {
    text-align: center;
    padding-top: 10px;
}
.herbalife-bg {
    height: 25%;
    width: 100%;
    position: relative;
    max-height: 300Px;
}
.bg-content {
    font-style: italic;
    position: absolute;
    top: 250px;
    left: 175px;
    text-align: center;
}
.contact-topic{
    color: white;
    margin-top:-130px;
    margin-left:-350px;
}
@media (max-width:767px){
    .contact-topic{
        margin-top:-150px;
        margin-left:-350px;
    }
}
.contact-button{
    margin-top: 10px;
    margin-left: -350px;
    background-color: rgba(255,255,255,0);   
    color:white;
    border-color: white;
}
.contact-top{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 8mm;
}
.contact-text{
    text-align: justify;
}

.transbox1 {
    background-color: red;
    opacity: 0.6;
    width: 25%;
    margin-top: -280px;
    margin-left:20px;
}
@media (max-width:767px){
    .transbox1{
        width: 90%;
        height:50%;
        margin-top: -450px;
        margin-left:20px; 
    }
}
.map-container{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.contact-top{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 8mm;
}
.highlight{
    border-color: red;
}
.submitbutton{
    background-color: rgb(235, 31, 31);
    color:white;
    margin-left: 475px;
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-color:rgb(235, 31, 31);
}
.footer-color{
    background-color: black;
}
.icon{
    height:50px;
}
.footer-info{
    text-align: justify;
    color: white;
}
.footer-contact{
    color: #59a310;
}
.contact-detail{
    text-align: left;
}
.email{
    color: #59a310;
}
.footer-bottom{
    background-color: rgb(175, 9, 9);
}
.footer-label{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
