.logo {
    height: 100px;
    width: 100px;
}
.fa-facebook {
    margin-left: 100px;
    color: black;
}

.fa-youtube {
    margin-left: 100px;
    color: black;
}

.fa-linkedin {
    margin-left: 100px;
    color: black;
}

.icon-pic{
    font-size: 30px;
    color: white;
}
.icon-label{
    color: white;
}
.picture {
    height: 500px;
    width: 340px;
}
.card-body{
    text-align: justify;
}
.card{
    width:300px;
    height:350px;
}
.card-header{
    color:#59a310;
}
.card-body{
    text-align: justify;
}
.view{
    color:coral;
    background-color: cyan;
}
.comment{
    color:coral;
}
.buy-button {
    align-content: center;
    margin: auto;
    display: flex;
    background-color: rgb(235, 31, 31);
    border-color: rgb(235, 31, 31);
    color: white;
}
.recent-topic {
    padding-top: 20px;
    font-size: 4mm;
    color: #59a310;
}
.recent-title {
    font-style: italic;
    font-size: 6mm;
    font-weight: 500;
}
.button-view {
    margin-left: 300px;
    color: #59a310;
    border-color: #59a310;
    background-color: white;
}
.story-topic {
    position: absolute;
    top: -350px;
    color: white;
    font-size: 20px;
}
.youtube {
    top: -350px;
    height: 300px;
    width: 500px;
    position: absolute;
}
.home-image{
    height: 350px;
    width: 100%;
    position: relative;
}
.welcome-content {
    font-style: italic;
    position: absolute;
    top: 250px;
    left: 175px;
    text-align: center;
}
.contact-us {
    margin: 30px;
    background-color: rgba(255,255,255,0);   
    color:#59a310;
    border-color: #59a310;
}
.card-text{
    color:#59a310;
    text-align: center;
}
.view-more{
    color:#59a310;
    border-color:#59a310;
    background-color: white;
}
.view-more-about{
    color:#59a310;
    border-color:#59a310;
    background-color: rgba(255,255,255,0); 
}
.medicine {
    opacity: 0.5;
    left: 50%;
    top: 30%;
    height: 200px;
    width: 455px;
    position: absolute;
    margin-top: -10px;
    margin-left: -25px;
}
.plant {
    height: 250px;
    width: 250px;
}
.topic {
    text-align: center;
    padding-top: 10px;
}



.herbalife-bg {
    height: 300px;
    width: 100%;
    position: relative;
}
.bg-content {
    font-style: italic;
    position: absolute;
    top: 250px;
    left: 175px;
    text-align: center;
}
.contact-topic{
    color: white;
    margin-left: 370px;
}
.contact-button{
    margin-top: 10px;
    margin-left: 370px;
    background-color: rgba(255,255,255,0);   
    color:white;
    border-color: white;
}
.contact-top{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 8mm;
}
.contact-text{
    text-align: justify;
}
.products {
    height: 500px;
    width: 700px;
}
.natural-made {
    height: 500px;
    width: 650px;
}
.transbox1 {
    background-color: red;
    opacity: 0.6;
    width:500px;
    margin-top: -250px;
    margin-left:20px;
}
.map-container{
    overflow:hidden;
    padding-bottom:25%;
    position:relative;
}
.map-container iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.contact-top{
    text-align: center;
    font-weight: 500;
    font-style: italic;
    font-size: 8mm;
}
.highlight{
    border-color: red;
}
.submitbutton{
    background-color: rgb(235, 31, 31);
    color:white;
    margin-left: 475px;
    border-radius: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-color:rgb(235, 31, 31);
}
.footer-color{
    background-color: black;
}
.icon{
    height:50px;
}
.footer-info{
    text-align: justify;
    color: white;
}
.footer-contact{
    color: #59a310;
    font-weight: 500;
    font-size: 30px;
}
.contact-detail{
    text-align: left;
}
.email{
    color: #59a310;
}
.footer-bottom{
    background-color: rgb(175, 9, 9);
}
.footer-label{
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
    color: white;
}
